.highlights.image-right .image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.highlights.image-left .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.highlights .items .item {
    margin-bottom: 35px;
}

.highlights .items .item:last-child {
    margin-bottom: 0;
}

.highlights p {
    white-space: pre-wrap;
}

.highlights .items .item .icon {
    color: var(--primary-color);
}

.team .items .item {
    margin-bottom: 50px;
}

.team .items h4 {
    margin: 0 0 10px;
}

.team .items p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.team .share-list .nav-item {
    margin: 0;
}

.team .items .share-list .nav-link {
    padding: 0;
}

.team .items .share-list .nav-link:hover i {
    opacity: 1;
}

.team .quote {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--primary-bg-color-2);
}

.team .quote h4 {
    margin-top: 0;
    color: var(--white-color);
}

.team .quote p {
    opacity: 0.85;
}

.team .quote h5 {
    margin-bottom: 0;
    font-family: var(--p-font);
    font-size: 1rem;
    color: var(--white-color);
    opacity: 0.85;
}

.team .quote .quote-left {
    position: absolute;
    top: 35px;
    left: 50px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.25);
}

.team .quote .quote-right {
    position: absolute;
    bottom: 35px;
    right: 50px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.25);
}

.team .quote .list-group-item {
    border-color: var(--secondary-l-color);
}

.team .quote .list-group .list-group-item .icon {
    color: var(--white-color);
}



.grayscale {
    filter: grayscale(1);
}

.showcase.masonry .card {
    background-color: var(--white-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.showcase .items .item .card.no-image .image-over:before {
    background-color: var(--white-color);
}

.showcase.filter-section .card:hover .card-caption {
    opacity: 1;
}

.showcase .card {
    overflow: hidden;
    height: auto;
    background-color: transparent;
}

.showcase .card:not(.no-hover):hover {
    transform: none;
}

.showcase .card .image-over {
    overflow: hidden;
}

.showcase .card .image-over:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey-color);
    border-radius: 10px;
    opacity: 0.5;
    -webkit-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}

.showcase .card .image-over img {
    position: relative;
    z-index: -1;
    height: auto;
    min-height: 370px;
    object-fit: cover;
    object-position: center;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.showcase .card .card-body {
    padding: 50px 25px;
    transform: translateY(100px);
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.showcase .card:hover .card-body {
    transform: translateY(0);
}

.showcase .card:hover .card-footer {
    transform: translateY(0);
    opacity: 1;
}

.showcase .card .card-body h4 {
    margin-bottom: 50px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.showcase .card:hover .card-body h4 {
    margin-bottom: 1.5rem;
}

.showcase .card .card-body p {
    margin: 1.5rem 0 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
}

.showcase .card:hover .card-body p {
    opacity: 1;
}

.showcase .card .card-footer .btn-icon {
    margin: 0;
}

.showcase .card .card-footer .btn-icon {
    margin: 0;
    color: var(--white-color);
    opacity: 1;
}

.showcase .card-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.showcase .no-image .card-caption {
    position: relative;
}

.showcase .card-caption *,
.showcase .card-caption *:not(.btn) {
    color: var(--primary-bg-color);
}

.showcase .no-image .card-caption *,
.showcase .no-image .card-caption *:not(.btn) {
    color: var(--primary-t-color);
}

.showcase.odd .no-image .card-caption *,
.showcase.odd .no-image .card-caption *:not(.btn) {
    color: var(--secondary-t-color);
}

.showcase .no-image .card-caption .card-body p {
    color: var(--primary-p-color);
}

.showcase.odd .no-image .card-caption .card-body p {
    color: var(--secondary-p-color);
}

.showcase .card-footer {
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 50px 25px;
    border: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    transform: translateY(-100px);
}

.showcase .card-footer a:not(.btn) {
    line-height: 1.2;
    text-align: center;
    color: var(--white-color);
}

.showcase .no-image .card-footer {
    border-color: rgba(0, 0, 0, 0.15);
}

.showcase .card:hover .image-over:before {
    opacity: 0.75;
}

.showcase .card:hover .image-over .mask-radius-full {
    opacity: 0;
}

.showcase .card:hover .image-over img {
    transform: scale(1.1);
    filter: blur(2px);
}

.showcase .card:hover .image-over .play-video-full {
    transform: translateY(-15%);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 35px 30px;
}

.card-body h3,
.card-body h4,
.card-body h5,
.card-body h6 {
    margin-top: 0;
}

.card-footer {
    border-radius: 0;
    background: none;
    padding: 30px 0;
    margin: 0 30px;
    border-top: 1px solid var(--primary-l-color);
}

.card-footer a {
    margin: 0 10px;
}

.card-footer a:not(.btn) {
    line-height: 1.2;
    text-align: left;
    color: var(--primary-p-color);
}

.card-footer i {
    margin: 0 10px 2.5px 0;
}

.card.simple {
    box-shadow: none;
    background: none;
    padding: 0 2rem;
}

.card.simple:hover {
    background: none;
}

.card:not(.no-hover):hover {
    transform: translateY(-7.5px);
}

.card:not(.no-hover):hover:before,
.card:not(.no-hover):hover:after {
    opacity: 0;
}

.card:hover .image-person img {
    transform: scale(1.1);
}

.odd .card:not(.no-hover):hover h3,
.odd .card:not(.no-hover):hover h4,
.odd .card:not(.no-hover):hover p {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover span,
.odd .card.stycky:not(.no-hover) span {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover a,
.odd .card.sticky:not(.no-hover) a {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover i,
.odd .card.sticky:not(.no-hover) i {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover .icon,
.card.sticky:not(.no-hover) .icon {
    background-color: transparent;
    color: var(--primary-bg-color);
}

.odd.features .card:not(.no-hover):hover .icon {
    background-color: var(--primary-color);
}

.odd .card:hover .card-footer,
.odd .card.sticky .card-footer {
    color: var(--primary-bg-color);
    border-color: rgba(255, 255, 255, 0.25);
}

.odd .card:hover .btn-icon {
    opacity: 1;
    color: var(--primary-bg-color);
}

.odd .card:hover .share-list i {
    color: var(--primary-bg-color);
}

.showcase .card .card-body .badges {
    transform: translateY(100px);
}

.showcase .card:hover .card-body .badges {
    transform: translateY(0);
}

.card .badges a:first-child .badge {
    margin-bottom: 15px;
}

.card .badges .badge {
    width: 100%;
    margin: 0;
}

.share-list {
    margin: 0.5rem 0 0 0;
    display: -webkit-inline-box;
}

.sidebar .share-list {
    margin: 0;
}

.share-list .nav-link i {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    background: var(--primary-bg-color-3);
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: var(--primary-color);
    -webkit-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}

.share-list .nav-link i:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.share-list li:first-child i {
    margin-left: 0;
}

.share-list .nav-item {
    margin: 0;
}

.share-list .nav-link {
    padding: 0;
}

.image-over {
    overflow: hidden;
    border-radius: 10px;
}

.person {
    width: 100%;
    border-radius: 5px;
}

.square-image {
    max-width: 900px;
    margin: auto;
    border-radius: 4px;
    background: var(--primary-color);
}

.square-image .icon {
    position: absolute;
    z-index: 1;
    color: var(--white-color);
    opacity: 0.75;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image .icon.clone {
    margin: -17.5px -10px 0;
    color: var(--secondary-color);
    opacity: 0.75;
}

.square-image img {
    opacity: 0.85;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image:hover img {
    opacity: 0.75;
    filter: none;
}

.square-image:hover .icon {
    transform: scale(1.1);
    opacity: 1;
}

/*----------------------------------------------
10. Gallery
----------------------------------------------*/

/* #region Gallery */

.gallery {
    position: relative;
    overflow: hidden;
}

.content .gallery {
    margin: 35px 0 0 0;
}

.gallery .item:not(:last-child) {
    margin-bottom: 30px;
}

.gallery img {
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery .fit-image {
    width: 100%;
    height: 100%;
}

.gallery img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery a:hover img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery.featured {
    transform: scale(1);
}

.gallery.featured a:first-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -15px;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.gallery.featured a:last-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -15px;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.full-slider.swiper-container-horizontal>.swiper-pagination-bullets {
    position: absolute;
    top: calc(50% - 50px);
    right: 40px;
    left: initial;
    width: fit-content;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 35px;
    margin: 7.5px 0 !important;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    opacity: 0.5;
    outline: none;
    /* ! important is necessary to avoid conflict with the Swipper Slider. */
}

.swiper-pagination-bullet:hover {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    opacity: 1;
}

.swiper-pagination-bullet-active:hover {
    background-color: var(--primary-color);
}