.sidebar .item {
    margin-bottom: 50px;
}

.sidebar ol,
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ol ol,
.sidebar ul ul {
    padding: 15px;
}

.sidebar ul.children {
    padding: 0;
}

.sidebar .sub-menu {
    padding: 0;
}

.sidebar ul li:not(.nav-item):not(.list-group-item) {
    position: relative;
    padding-left: 0;
}

.sidebar ul ul li:not(.nav-item):not(.list-group-item) {
    padding-left: 20px;
}

.sidebar li:hover:before {
    background-color: var(--primary-color);
}

.sidebar ul li a:not(.btn) {
    color: inherit;
    overflow-wrap: break-word;
}

.sidebar ul li a:not(.btn):hover {
    color: var(--primary-color);
}

.sidebar .title {
    width: 100%;
    margin-top: 0;
    list-style: none;
}

.highlights.image-right .image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.highlights.image-left .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.highlights .items .item {
    margin-bottom: 35px;
}

.highlights .items .item:last-child {
    margin-bottom: 0;
}

.highlights p {
    white-space: pre-wrap;
}

.highlights .items .item .icon {
    color: var(--primary-color);
}

.projects .btn-icon {
    color: var(--white-color);
    opacity: 0;
}

.projects .card:hover .btn-icon {
    opacity: 1;
}

.showcase.masonry .card {
    background-color: var(--white-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.showcase .items .item .card.no-image .image-over:before {
    background-color: var(--white-color);
}

.showcase.filter-section .card:hover .card-caption {
    opacity: 1;
}

.showcase .card {
    overflow: hidden;
    height: auto;
    background-color: transparent;
}

.showcase .card:not(.no-hover):hover {
    transform: none;
}

.showcase .card .image-over {
    overflow: hidden;
}

.showcase .card .image-over:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey-color);
    border-radius: 10px;
    opacity: 0.5;
    -webkit-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}

.showcase .card .image-over img {
    position: relative;
    z-index: -1;
    height: auto;
    min-height: 360px;
    object-fit: cover;
    object-position: center;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.showcase .card .card-body {
    padding: 50px 25px;
    transform: translateY(100px);
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.showcase .card:hover .card-body {
    transform: translateY(0);
}

.showcase .card:hover .card-footer {
    transform: translateY(0);
    opacity: 1;
}

.showcase .card .card-body h4 {
    margin-bottom: 50px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.showcase .card:hover .card-body h4 {
    margin-bottom: 1.5rem;
}

.showcase .card .card-body p {
    margin: 1.5rem 0 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
}

.showcase .card:hover .card-body p {
    opacity: 1;
}

.showcase .card .card-footer .btn-icon {
    margin: 0;
}

.showcase .card .card-footer .btn-icon {
    margin: 0;
    color: var(--white-color);
    opacity: 1;
}

.showcase .card-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.showcase .no-image .card-caption {
    position: relative;
}

.showcase .card-caption *,
.showcase .card-caption *:not(.btn) {
    color: var(--primary-bg-color);
}

.showcase .no-image .card-caption *,
.showcase .no-image .card-caption *:not(.btn) {
    color: var(--primary-t-color);
}

.showcase.odd .no-image .card-caption *,
.showcase.odd .no-image .card-caption *:not(.btn) {
    color: var(--secondary-t-color);
}

.showcase .no-image .card-caption .card-body p {
    color: var(--primary-p-color);
}

.showcase.odd .no-image .card-caption .card-body p {
    color: var(--secondary-p-color);
}

.showcase .card-footer {
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 50px 25px;
    border: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    transform: translateY(-100px);
}

.showcase .card-footer a:not(.btn) {
    line-height: 1.2;
    text-align: center;
    color: var(--white-color);
}

.showcase .no-image .card-footer {
    border-color: rgba(0, 0, 0, 0.15);
}

.showcase .card:hover .image-over:before {
    opacity: 0.75;
}

.showcase .card:hover .image-over .mask-radius-full {
    opacity: 0;
}

.showcase .card:hover .image-over img {
    transform: scale(1.1);
    filter: blur(2px);
}

.showcase .card:hover .image-over .play-video-full {
    transform: translateY(-15%);
}

.filter-section .btn-group {
    margin: 0 0 35px;
    display: block;
}

.filter-section .btn-group .btn {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-p-color);
}

.odd.filter-section .btn-group .btn {
    color: var(--secondary-p-color);
}

.filter-section .btn-group .btn.focus {
    outline: none;
    box-shadow: none;
}

.filter-section .btn-group .btn:hover {
    color: var(--primary-t-color);
}

.odd.filter-section .btn-group .btn:hover {
    color: var(--white-color);
}

.filter-section .btn-group .btn.active {
    color: var(--primary-t-color);
}

.odd.filter-section .btn-group .btn.active {
    color: var(--white-color);
}

.filter-section .btn-group .btn.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: var(--primary-color);
    opacity: 0.15;
}

.filter-section .btn-group .btn i {
    margin: 0 10px 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 35px 30px;
}

.card-body h3,
.card-body h4,
.card-body h5,
.card-body h6 {
    margin-top: 0;
}

/*----------------------------------------------
10. Gallery
----------------------------------------------*/

/* #region Gallery */

.gallery {
    position: relative;
    overflow: hidden;
}

.content .gallery {
    margin: 35px 0 0 0;
}

.gallery .item:not(:last-child) {
    margin-bottom: 30px;
}

.gallery img {
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery .fit-image {
    width: 100%;
    height: 100%;
}

.gallery img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery a:hover img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery.featured {
    transform: scale(1);
}

.gallery.featured a:first-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -15px;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.gallery.featured a:last-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -15px;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

/* Archive Project */

#projects.showcase .card .card-body h4 {
    margin-bottom: 85px;
}

.blog-grid:not(.masonry) .items .item {
    margin-bottom: 30px;
}

.no-content-container {
    display: contents;
}

.no-content-container .no-service-available {
    text-align: center;
    padding: 45px 0px !important;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #cce3de;
    border-radius: 10px;
    width: 100%;
}

.no-content-container .no-service-available span {
    font-size: 1.5rem;
    font-weight: 700;
}

.no-about-service-available {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 40px 0;
    background-color: #058283;
    border-radius: 10px;
}

.no-about-service-available span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}